*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #020617;
    color: #fff;
}

.container{
    margin: 10%;
    width: 85%;
    max-width: 700px;
}

.display{
    width: 90%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 10px;
    border-radius: 5px;
}

.container h1{
    font-weight: 500;
    font-size: 45px;
}

.container h1 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

.display img{
    width: 30px;
    cursor: pointer;
}

.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}

.container img{
    width: 28px;
    margin-right: 10px;

}

.container button{
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}
